

<%= form_for @provider do |f| %>
  <% if @provider.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@provider.errors.count, "error") %>
        prohibited this provider from being saved:
      </h2>
      <ul>
        <% @provider.errors.full_messages.each do |msg| %>
            <li>
              <%= msg %>
            </li>
        <% end %>
      </ul>
    </div>
  <% end %> 

  
  <p>
    <%= f.label :nombre_proveedor %><br>
    <%= f.text_field :nombre_proveedor %>
  </p>
 
  <p>
    <%= f.label :rut_proveedor %><br>
    <%= f.text_field :rut %>
  </p>
  <p>
    <%= f.label :razon_social %><br>
    <%= f.text_field :razon_social %>
  </p>
  <p>
    <%= f.label :direccion %><br>
    <%= f.text_field :direccion %>
  </p>
  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :giro %><br>
    <%= f.text_field :giro %>
  </p>
  <p>
    <%= f.label :fono %><br>
    <%= f.telephone_field :fono %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>

