<h1>Productos</h1>
<table>
  <tr>
    <th>Nombre </th>
    <th>Tipo </th>
    <th>Descripcion </th>
    <th>Cantidad </th>
    <th>Caducidad </th>
    <th></th>
  </tr>
 
<% @providers.each do |provider| %>
   
    <%if (provider.products.count) > 0 %>
        <% provider.products.each do |product|%>
          <tr>  
              <td><%= product.nombre_producto %></td>
              <td><%= product.tipo_producto %></td>
              <td><%= product.descripcion %></td>
              <td><%= product.cantidad %></td>
              <td><%= product.caducidad %></td>
              <td><%=link_to 'informacion producto', product_path(product)%></td>
        <% end %>
    
    <%end%>
    
            </tr>
<%end%>
</table>
<%= link_to 'Nuevo proveedor', new_provider_path, class: "btn btn-primary btn-sm" %>