<h1>Listing providers</h1>
<%= select_tag 'person',options_from_collection_for_select(@providers, 'id', 'nombre_proveedor') %>
<%= link_to 'New Provider', new_provider_path %>
<table>
  <tr>
    <th>Nombre</th>
    <th>Rut</th>
    <th>Razon social</th>
    <th>Direccion</th>
    <th>Email</th>
    <th>Giro</th>
    <th>Fono</th>


    <th colspan="3"></th>
  </tr>
 
<% @providers.each do |provider| %>
  <tr>
    <td><%= provider.nombre_proveedor %></td>
    <td><%= provider.rut %></td>
    <td><%= provider.razon_social %></td>
    <td><%= provider.direccion %></td>
    <td><%= provider.email %></td>
    <td><%= provider.giro %></td>
    <td><%= provider.fono %></td>

    <td><%= link_to 'Show', provider_path(provider) %></td>
    <td><%= link_to 'Edit', edit_provider_path(provider) %></td>
    <td><%= link_to 'Destroy', provider_path(provider),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>