<strong><h2>Datos del proveedor:</h2></strong>
<p>
  <strong>Nombre:</strong>
  <%= @provider.nombre_proveedor %>
</p>
 
<p>
  <strong>Rut:</strong>
  <%= @provider.rut %>
</p>
<p>
  <strong>Razon social:</strong>
  <%= @provider.razon_social %>
</p>
<p>
  <strong>Direccion:</strong>
  <%= @provider.direccion %>
</p>
<p>
  <strong>Email:</strong>
  <%= @provider.email %>
</p>
<p>
  <strong>Giro:</strong>
  <%= @provider.giro %>
</p>
<p>
  <strong>Fono:</strong>
  <%= @provider.fono %>
</p>

 
<strong><h2>Poductos asociados a este proveedor </h2></strong>
<table>
  <tr>
    <th>Nombre</th>
    <th>Tipo</th>
    <th>Descripcion</th>
    <th>Cantidad</th>
    <th>Caducidad</th>
    <th></th>
  </tr>
<% @products.each do |product| %>
  <tr>  

      <td><%= product.nombre_producto %></td>
      <td><%= product.tipo_producto %></td>
      <td><%= product.descripcion %></td>
      <td><%= product.cantidad %></td>
      <td><%= product.caducidad %></td>
<td><%= link_to 'editar', edit_provider_product_path(product,:product_id=> product.id), class: "btn btn-primary btn-sm"  %> </td>


  </tr>
<% end %>  
</table>


<%= link_to 'Nuevo producto', new_provider_product_path(@provider,:proveedor=> @provider), class: "btn btn-primary btn-sm"  %> 

<%= link_to 'Volver', providers_path, class: "btn btn-primary btn-sm" %>