<div class="w3-container w3-light-green">
	<h1>Fichas clínicas</h1>
 <%if current_user.role == 'admin' || current_user.role=='veterinario' %>

    <h4>Bienvenido  <%= current_user.nombre%> <%= current_user.ap_pat%>  </h4>
    <%if current_user.role == 'veterinario' %>
    <h1>Reservas asociadas su cargo </h1>
      <%if !@mis_consultas.empty? %>
      <%=link_to 'Ver mis fichas', mis_attentions_path, class: "btn btn-primary btn-sm"%>
      <%=link_to 'Nueva ficha', new_attention_path, class: "btn btn-primary btn-sm"%>
      <%else%>
        <h1>No existen consultas medicas asociadas a usted</h1>
        <%=link_to 'Nueva ficha', new_attention_path, class: "btn btn-primary btn-sm"%>    
      <%end%>
     <%end%> 
<%end%>


<%=link_to 'Ver fichas', tabla_attentions_path, class: "btn btn-primary btn-sm"%>
<h5>Búsqueda por rut</h5> 
<%= form_tag(search_path, :method => "get", id: "search-form") do %>

<%= text_field_tag :search, params[:search], placeholder: "Rut cliente sin puntos ni guión" %>
<%= submit_tag "Buscar" %>
<% end %>

</div>

