
<%if current_user.role== 'veterinario'||current_user.role== 'Veterinario'%>
  <h4>Bienvenido  <%= current_user.role %>  </h4>
  <h1>Reservas asociadas su cargo </h1>
    <%if !(@fichas.empty?)%>
      <table class="table table-sm  table-bordered table-hover">
        <tr class="bg-success">
          <th>Mascota </th>
          <th>Dueño </th>
          <th>Fecha de atencion </th>
          <th>Hora reserva </th>
          <th></th>
        </tr>    
        <% @fichas.each do |ficha|%>
              <tr>  
                  <td><%= ficha.pet.nombre.capitalize %></td>
                  <td><%= ficha.pet.user.nombre.capitalize %></td>
                  <td><%= ficha.fecha_reserva.strftime "%d/%m"%></td> 
                  <td><%= ficha.hora_reserva.strftime "%H:%M"%></td>     
              </tr>
            <% @attentions.each do |attention|%>
              <tr>
                  <% if attention.hour_id == ficha.id %>
                       <th>Ficha Existente  </th>
                       <td><%= link_to 'Ver', attention %></td>
                       <td><%= link_to 'Editar', edit_attention_path(attention) %></td>
                       <td><%= link_to 'Eliminar', attention, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        <% @x=2 %>
                  <% end %>
              </tr>
           <% end %><!--fin de attentions.each do-->
            <% if @x==1 %>
               <td><%= link_to "Agregar ficha", nueva_ficha_path(ficha.id)%></td> 
            <% end %>

            <% @x=1 %>
        <% end %><!--fin de fichas.each do-->
               </table>
      <%end%><!--fin de fichas.empty-->
      <%else%>
      <h1>No existen consultas medicas asociadas a su rol</h1>
<%end%><!--fin de current_user.role-->




