<h1>Ficha para cliente no registrado </h1>

<%= form_for @attention  do |f| %>
<% if @attention.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      El formulario contiene <%= pluralize(@attention.errors.count, "errores") %>.
    </div>
    <ul>
    <% @attention.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<div class="field">
<p><%= f.label :Nombre_cliente %><p>
<p><%= f.text_field :nombre,class: "form-control" %></p>
</div>
<div class="field">
<p><%= f.label :Rut_cliente %><p>
<p><%= f.text_field :cliente,class: "form-control" %></p>
</div>
<div class="field">
<%= f.label :Celular_de_contacto %>
 <%= f.telephone_field :celular ,class: "form-control"%>
</div>
<div class="field">
<p><%= f.label :Nombre_mascota %><p>
<p><%= f.text_field :nombre_mascota,class: "form-control" %></p>
</div>
<div class="field">
<p><%= f.label :Hora_de_la_atención %><p>
<%= f.time_select :hora_atencion , start_hour: 10, end_hour: 20, minute_step: 30%>
</div>
<div class="field">
<p><%= f.label :Descripción_de_la_atención %><p>
<%= f.text_area :descripcion, :rows => 10, :cols => 30 %> 
</div>
<%= f.hidden_field(:user_id, :value=> current_user.id) %>
<%= f.hidden_field(:tipo_atencion, :value=> current_user.role) %>
<%= f.submit "Crear ficha",class: "btn btn-primary",data: { confirm: 'Una vez creada la ficha, no es posible eliminarla. ¿Continuar?' } %>
<% end %>

