
<p>
  <strong>Tipo atencion :</strong>
  <%= @attention.tipo_atencion.capitalize %>
</p>
<p>
  <strong>Nombre mascota :</strong>
  <%= @attention.hour_reservation.pet.nombre.capitalize %>
</p>
<p>
  <strong>Nombre Dueño :</strong>
  <%= @attention.hour_reservation.pet.user.nombre.capitalize %>
</p>
<p>
  <strong>Fecha :</strong>
  <%= @attention.hour_reservation.fecha_reserva %>
</p>
<p>
  <strong>Hora :</strong>
  <%= @attention.hour_reservation.hora_reserva %>
</p>
<p>
  <strong>Descripcion :</strong>
  <%= @attention.descripcion %>
</p>


<%= link_to 'Volver', attentions_path %>