<h1>Seleccione mascota para <%=@especialidad%> </h1>

<%= form_for @hour_reservation  do |f| %>

	<p><%= f.select :pet_id, @pets.map { |c| [c.nombre, c.id] }, {:prompt => "Seleccione su mascota"}  %></p>

  	<%= f.hidden_field(:especialidad, :value=> @especialidad) %>     
  	<%= f.hidden_field(:hora_reserva, :value=> @hora) %> 
  	<%= f.hidden_field(:fecha_reserva, :value=> @fecha) %>   	   
  	<%= f.hidden_field(:reservada, :value=> true) %>
  	<%= f.hidden_field(:user_id, :value=> @veterinario.id) %>
    <%= f.submit "Tomar hora",class: "btn btn-primary" %>
<% end %>
