       <%if @fechas.empty?%>
		        <% if @dia.fecha_reserva.sunday? %> 
		        	es domingo
		        <%elsif !(Holidays.on(@dia.fecha_reserva,:cl).empty?)%>   
		        	es feriado
		 		<%else%>
			       	<%@a=Time.at(946720800)%>
			       	<div class="container">
			       		<div class="col-sm-auto">
			       	<table class="table table-sm  table-bordered table-hover">
					  <tr class="bg-success">
					    <h2><th>Hora</th></h2>
					   <h2> <th>Veterinario  </th></h2>
					   <h2> <th>Peluquero </th></h2>
					  </tr>
						<%while @a.utc.to_i != 946756800 do %>
					  <tr>  
					     	 <td><%=@a.strftime "%H:%M"%></td>
					      	 <td>
					      	 	<%= link_to  new_hour_reservation_path(:fecha => @dia.fecha_reserva,:hora => @a.to_i, :especialidad=>'veterinario'),class: "btn btn-primary" do%>
					      	 	    <span class="glyphicon glyphicon-ok-sign"></span>
    										Hora disponible
  									<% end %>	

					      	 	</td>
					      	 <td><%= link_to new_hour_reservation_path(:fecha => @dia.fecha_reserva,:hora => @a.to_i,:especialidad=>'peluquero'),class: "btn btn-primary" do %>
					      	 	    <span class="glyphicon glyphicon-ok-sign"></span>
    										Hora disponible
  									<% end %>								      	 	
					      	 </td>
			      	 
					         <%@a+=20.minutes%>
					  </tr>
					  <%end%>
					</table>	
					</div>	  
				</div>
		       <%end%> 

       <%else%>
		       <%@fechas.order(:asc)%>
				<%@a=Time.at(946720800)%>
				<div class="container">
					<div class="col-sm-auto">
						<table class="table table-sm  table-bordered table-hover">
							  <tr class="bg-success">
							    <th>Hora</th>
							    <th>Veterinario  </th>
							    <th>Peluquero </th>

				  			</tr>
				 
							 <% while @a.utc.to_i != 946756800 do %>
				   			 <% @fechas.each do |f|%>
				      		<tr> 
				       			<td><%=@a.strftime "%H:%M"%></td>
				       		   <%if f.hora_reserva.to_i == @a.to_i && f.especialidad == 'veterinario'%>
				          	   <td>   
				          	   		 <span  class="label label-danger">Hora no disponible</span>
				          	   		
				          	    </td>   
				       		   <%else %>
				               <td><%= link_to  new_hour_reservation_path(:fecha => @fechas.first.fecha_reserva,:hora => @a.to_i, :especialidad=>'veterinario'),class: "btn btn-primary" do%>
					      	 	    <span class="glyphicon glyphicon-ok-sign"></span>
    										Hora disponible
  									<% end %>							               	
				               </td>
				      		   <%end%>
				       		 <%if f.hora_reserva.to_i == @a.to_i && f.especialidad == 'peluquero'%>
				              <td> <span  class="label label-danger">Hora no disponible</span></td>
				        		<%else%>
				              <td><%= link_to  new_hour_reservation_path(:fecha => @fechas.first.fecha_reserva,:hora => @a.to_i, :especialidad=>'peluquero'),class: "btn btn-primary" do%>
					      	 	    <span class="glyphicon glyphicon-ok-sign"></span>
    										Hora disponible
  									<% end %>							              	
				              </td>
				        	 <%end%>
				    		</tr>
				    <%@a+=20.minutes%>
				    <%end%>
				    
				<% end %>
				</table>
				</div>
			</div>
		<%end%>







