<%= form_for @pet do |f| %>
  <% if @pet.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@pet.errors.count, "error") %>
        prohibited this pet from being saved:
      </h2>
      <ul>
        <% @pet.errors.full_messages.each do |msg| %>
            <li>
              <%= msg %>
            </li>
        <% end %>
      </ul>
    </div>
  <% end %> 

  
  <p>
    <%= f.label :nombre_mascota %><br>
    <%= f.text_field :nombre %>
  </p>
 
  <p>
    <%= f.label :tipo_mascota %><br>
    <%= f.text_field :tipo_mascota %>
  </p>
  <p>
    <%= f.label :sexo_mascota %><br>
    <%= f.text_field :sexo %>
  </p>
  <p>
    <%= f.label :raza_mascota %><br>
    <%= f.text_field :raza %>
  </p>
  <p>
    <%= f.label :edad_mascota %><br>
    <%= f.number_field :edad %>
  </p>

 
  <p>
    <%= f.submit %>
  </p>
<% end %>

