
<table class="table table-sm  table-hover">
   <tr class="bg-success">


    <th>Nombre  </th>
    <th>Tipo </th>
    <th>Sexo </th>
    <th>Raza </th>
    <th>Edad  </th>

  </tr>
 
  <tr>  
      <td><%= @pet.nombre %></td>
      <td><%= @pet.tipo_mascota %></td>
      <td><%= @pet.sexo %></td>
      <td><%= @pet.raza %></td>
      <td><%= @pet.edad %> años</td>

  </tr>

</table>
<%=link_to "Volver", :back, :class=>"btn btn-primary btn-sm"%>