 <p>
  <strong>Nombre Mascota:</strong>
  <%= @pet.nombre %>
</p>
<p>
  <strong>Tipo Mascota:</strong>
  <%= @pet.tipo_mascota %>
</p>
<p>
  <strong>Sexo Mascota:</strong>
  <%= @pet.sexo %>
</p>
<p>
  <strong>Raza Mascota:</strong>
  <%= @pet.raza %>
</p>
<p>
  <strong>Edad Mascota:</strong>
  <%= @pet.edad %>
</p>