      <h1>Detalles</h1>
<table>
  <tr>

    <th>Nombre </th>
    <th>Apellido paterno </th>
    <th>Apellido materno </th>
    <th>Fono</th>
    <th>Dirección</th>
    <th>Comuna</th>
    <th>Rol </th> 
    <th></th>
  </tr>
  <tr>
      <td><%= @user.nombre %></td>
      <td><%= @user.ap_pat %></td>
      <td><%= @user.ap_mat %></td>
      <td><%= @user.celular%></td>
      <td><%= @user.direccion%></td>
      <td><%= @user.comuna%></td>
      <td><%= @user.role %></td>
      <td><%= link_to 'Editar', edit_user_path(@user), class: "btn btn-primary btn-sm" %> </td>
</tr>
</table>