<div class="container-fluid">
	<div class="w3-container w3-light-blue">
		<div style="background:transparent !important" class="jumbotron">
		<h1 style="color:teal;">Bienvenido a <%= image_tag("tx.png", class: "img-responsive img-thumbnail img-circle") %></h1>

		</div>

  <div class="row">
    <div class="col-sm-8" style="background-color:lightblue;">
    		<h1  style="color:slateblue;">En nuestra veterinaria nos precupamos por su mascota</h1>
    </div>
    <div class="col-sm-4" style="background-color:lightblue;">
      <%= image_tag("ct3.jpg", class: "img-responsive img-thumbnail img-circle") %>   </div>

  </div>
  <div class="row">
    <div class="col-sm-4" style="background-color:lightgreen;">
    	    		<%= image_tag("dg1.jpg", class: "img-responsive img-thumbnail img-circle") %>
    </div>
    <div class="col-sm-8" style="background-color:lightgreen;">
    	<h1  style="color:slateblue;">Ofrecemos una amplia gama de servicios</h1>
    </div>
  </div>  
  <div class="row">
    <div class="col-sm-8" style="background-color:lightblue;">
    	<h2  style="color:slateblue;">Esterlizaciones</h2>
    	<h2  style="color:slateblue;">Cirugías</h2>
    	<h2  style="color:slateblue;">Vacunación</h2>
    	<h2  style="color:slateblue;">Desparasitación</h2>
    	<h2  style="color:slateblue;">Ecografías</h2>
    </div>  	
    <div class="col-sm-4" style="background-color:lightblue;">
    	    		<%= image_tag("dg2.jpg", class: "img-responsive img-thumbnail img-circle") %>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-4" style="background-color:lightgreen;">
    	    		<%= image_tag("ct2.jpg", class: "img-responsive img-thumbnail img-circle") %>
    </div>  	
    <div class="col-sm-8" style="background-color:lightgreen;">
    	<h2  style="color:slateblue;">Corte de pelo</h2>
    	<h2  style="color:slateblue;">Limpieza dental</h2>
    	<h2  style="color:slateblue;">Corte de uñas</h2>
    	<h2  style="color:slateblue;">Limpieza de glandula</h2>
    	<h2  style="color:slateblue;">Baño sanitario</h2>
    	<h2  style="color:slateblue;">Ecografías</h2>
    </div> 

  </div>
</div>
</div>