<% if current_user.nil?%>
 <%=render 'servicios'%>
<%else%>  
  <%if current_user.role == 'cliente'%>
     
     <%=render 'servicios'%>
  
  <%end%>
  <%if current_user.role == 'admin' %>
    <div class="col-sm-12" style="background-color:lightgreen;">         
      <h1>Bienvenido administrador</h1>
      <h5>Existen <%=@empleados.count%> empleados inscritos en el sistema <%= link_to 'Ver empleados', users_path, :class =>"btn btn-primary btn-sm" %></h5>
      <%@sin_horario=0%>
    <% @empleados.each do |e|%>
      <%if e.horario.nil? && e.activado?%>
      <%=@sin_horario%>
      <% @sin_horario+=1%>
      <%end%>
  <%end%>
  <%if @sin_horario>0%>
       
       <h5>Existen <%=@sin_horario%> empleados sin horario asignado <%= link_to 'Ir a asignar horarios', horarios_path, :class =>"btn btn-primary btn-sm" %></h5>
   
    <%end%>
  <h5>Existen <%=@clientes.count%> clientes inscritos en el sistema <%= link_to 'Ver clientes', clientes_path, :class =>"btn btn-primary btn-sm" %></h5>

  <p>-Editar estado trabajadores</p>
  <p>-Ver lista-estado clientes</p>
  <p>-Ver fichas clinicas</p>
  </div>
  <div class="col-sm-12" style="background-color:gray;">Bienvenido administrador
  <p>-Alertas de configuracion</p>
  <p>-Asignar/editar horarios</p>
  </div>
<%end%>



<%end%>
