
<%= form_for  [ @provider, @product ]  do |f| %>


  <p>
    <%= f.label :nombre_producto %><br>
    <%= f.text_field :nombre_producto %>
  </p>
   <p>
    <%= f.label :tipo_producto %><br>
    <%= f.text_field :tipo_producto %>
  </p>
 
  <p>
    <%= f.label :descripcion %><br>
    <%= f.text_area :descripcion %>
  </p>
   <p>
    <%= f.label :cantidad %><br>
    <%= f.number_field :cantidad %>
  </p>
   <p>
    <%= f.label :caducidad %><br>
    <%= f.date_field :caducidad %>

 
  <p>
    <%= f.submit %>
  </p>

<% end %>

