  
  <p>###############################</p>
  <p>
    <strong>Nombre product:</strong>
    <%= product.nombre_producto %>
  </p>
 
  <p>
    <strong>Tipo de producto:</strong>
    <%= product.tipo_producto %>
  </p>
    <p>
    <strong>Descripcion:</strong>
    <%= product.descripcion %>
  </p>
    <p>
    <strong>Cantidad:</strong>
    <%= product.cantidad %>
  </p>
    <p>
    <strong>Caducidad:</strong>
    <%= product.caducidad %>
  </p>
<!-- borrar spam-->
