<h1>Productos por proveedor</h1>
<strong>Nombre proveedor:</strong> <%=@provider.nombre_proveedor%>
<table>
  <tr>

    <th>Nombre </th>
    <th>Tipo </th>
    <th>Descripcion </th>
    <th>Cantidad </th>
    <th>Caducidad </th>
    <th></th>
  </tr>

 
<% @products.each do |product| %>
  <tr>  

      <td><%= product.nombre_producto %></td>
      <td><%= product.tipo_producto %></td>
      <td><%= product.descripcion %></td>
      <td><%= product.cantidad %></td>
      <td><%= product.caducidad %></td>
      <td><%= link_to 'Editar', edit_provider_product_path(product,:product_id=> product.id), class: "btn btn-primary btn-sm" %> </td>

  </tr>
<% end %>

</table>


